<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resident_Evil_4_UHD.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Resident_Evil_4_UHD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Resident_Evil_4_UHD.Settings1>
            <setting name="CekUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
        </Resident_Evil_4_UHD.Settings1>
        <Resident_Evil_4_UHD.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Changelog" serializeAs="String">
                <value>==========================================================
What's new in version : 1.1

[+] Bug fix
[+] Added Wall through Wall Feature
[+] Added Invincible Features
[+] And More..

==========================================================
</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </Resident_Evil_4_UHD.Properties.Settings>
    </userSettings>
</configuration>